*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

/* buttons */

.btn {
  border: 0;
  background: none;
}

.btn a {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  background: #21B573;
  border-radius: 33px;
  padding: 12px 28px;
  
}

/* small cards */

.sm-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 5% 0;
}

.sm-card {
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  align-items: center;
  justify-content: space-between;
  height: 270px;
  width: 270px;
  background: #F8FFFB;
}
.sm-card:nth-child(2) {
  background: none;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.sm-card-img {
  height: 90px;
  width: 90px;
}

.sm-card-img img {
  width: 100%;
}

.sm-card-contant {
  text-align: center;
}

.sm-card-contant h2 {
  font-size: 2.4rem;
}

.sm-card-contant p {
  font-size: 1.6rem;
}

/* large cards */

.l-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.l-card {
  display: flex;
  flex-direction: column;
  /* gap: 100px; */
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
  height: 483px;
  width: 370px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);;
}

.l-card-img {
  width: 331px;
  height: 234px;
}

.l-card-img img {
  width: 100%;
  border-radius: 11px;
}
.l-card-contant {
  width: 90%;
  text-align: left;
}
.l-card-contant .btn{
  margin: 30px 0;
}

.l-card-contant h2 {
  font-size: 2.4rem;
  margin: .5rem 0;
}
.l-card-contant-details {
  display: flex;
  justify-content: space-between;
}
.l-card-contant-details-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.l-card-contant-details-seats {
  display: flex;
  align-items: center;
  gap: 10px;
}

.l-card-contant p {
  font-size: 1.6rem;
  margin: .3rem 0;
}


.l-card-contant span {
  font-size: 1.6rem;
  margin: .3rem 0;
}

.l-card-contant-details-img {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.l-card-contant-details-img img {
  width: 100%;
}

/* header */
header {
  background: #F0FFF0;

}
.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5%;
  padding-top: 40px;
}

.logo {
  height: 60px;
  width: 200px;
}

.logo img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  font-size: 1.6rem;
  margin: 5px 20px;
  word-wrap: wrap;
  color: black;
}

.intro {
  margin:5% 5% 0 5%;
  padding-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.intro-content {
  width: 50%;
  margin: 2% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.intro-content .accent {
  color: red;
  font-size: 1.6rem;
}
.intro-content h1 {
  font-size: 4.8rem;
  margin: 2rem 0;
}
.intro-content p {
  font-size: 1.6rem;
  margin: 1.5rem 0;
}
.intro-img {
  width: 554px;
  height: 346px;
}

.intro-img img {
  width: 100%;
}

.margin {
  margin: 0 5%;
}

/* courses */
.courses {
  padding: 10% 0;
}

.courses h1 {
  font-size: 4.8rem;
  text-align: center;
  margin: 3rem;
}

/* testimonial */
.testimonial {
  margin: 5% 0;
}
.testimonial h2 {
  text-align: center;
  font-size: 3.6rem;
  margin: 5rem 0;
}
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.testimonial-img {
  height: 120px;
  width: 120px;
}
.testimonial-img img {
  width: 100%;
  border-radius: 50%;
}

.testimonial-content {
  width: 40%;
  font-size: 1.6rem;
}

/* footer */

footer {
  /* height: 370px; */
  background-color: #282531;
  width: 100%;
  padding: 20px 0;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}

.footer-content-container {
  display: flex;
  padding: 5% 0;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 5%;
}
.footer-content {
  align-self: baseline;
  margin-bottom: 10px;
}
.footer-content p {
  font-size: 1.6rem;
  color: white;
  width: 80%;
}

.footer-lists {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.lists {
  flex: 1;
  flex-wrap: wrap;
}

.lists ul li {
  list-style: none;
  margin-bottom: 10px;
}


.lists ul li a {
  color: rgb(112, 112, 112);
  font-size: 1.6rem;
  text-decoration: none;
}
.lists ul li a:hover {
  color: white;
  transition: all .5s;
}

.lists ul li:nth-child(1) a {
  color: white;
  font-weight: bold;
}