<div class="l-cards">
  <div class="l-card">
    <div class="l-card-img">
      <img src="images/Photos/Morder psyc.png" alt="" />
    </div>
    <div class="l-card-contant">
      <h2>Modern Psychology</h2>
      <p>Designation</p>
      <button class="btn"><a href="">Buy Course</a></button>
      <div class="l-card-contant-details">
        <div class="l-card-contant-details-date">
          <div class="l-card-contant-details-img">
            <img src="images/ICON/calendar.png" alt="" />
          </div>
          <span>Start 20 April,2021</span>
        </div>
        <div class="l-card-contant-details-seats">
          <div class="l-card-contant-details-img">
            <img src="images/ICON/people.png" alt="" />
          </div>
          <span>60 seats</span>
        </div>
      </div>
    </div>
  </div>
  <div class="l-card">
    <div class="l-card-img">
      <img src="images/Photos/Morder pychons.png" alt="" />
    </div>
    <div class="l-card-contant">
      <h2>Modern Psychology</h2>
      <p>Designation</p>
      <button class="btn"><a href="">Buy Course</a></button>
      <div class="l-card-contant-details">
        <div class="l-card-contant-details-date">
          <div class="l-card-contant-details-img">
            <img src="images/ICON/calendar.png" alt="" />
          </div>
          <span>Start 20 April,2021</span>
        </div>
        <div class="l-card-contant-details-seats">
          <div class="l-card-contant-details-img">
            <img src="images/ICON/people.png" alt="" />
          </div>
          <span>60 seats</span>
        </div>
      </div>
    </div>
  </div>
  <div class="l-card">
    <div class="l-card-img">
      <img src="images/Photos/Morder pyschology.png" alt="" />
    </div>
    <div class="l-card-contant">
      <h2>Modern Psychology</h2>
      <p>Designation</p>
      <button class="btn"><a href="">Buy Course</a></button>
      <div class="l-card-contant-details">
        <div class="l-card-contant-details-date">
          <div class="l-card-contant-details-img">
            <img src="images/ICON/calendar.png" alt="" />
          </div>
          <span>Start 20 April,2021</span>
        </div>
        <div class="l-card-contant-details-seats">
          <div class="l-card-contant-details-img">
            <img src="images/ICON/people.png" alt="" />
          </div>
          <span>60 seats</span>
        </div>
      </div>
    </div>
  </div>
</div>