<section class="sm-cards">
  <div class="sm-card">
    <div class="sm-card-img"><img src="images/ICON/book.png" alt="" /></div>
    <div class="sm-card-contant">
      <h2>2000+ Student</h2>
      <p>Learn Anything</p>
    </div>
  </div>
  <div class="sm-card">
    <div class="sm-card-img"><img src="images/ICON/Students.png" alt="" /></div>
    <div class="sm-card-contant">
      <h2>1800+ Students</h2>
      <p>Learn Anything</p>
    </div>
  </div>
  <div class="sm-card">
    <div class="sm-card-img"><img src="images/ICON/calendar.png" alt="" /></div>
    <div class="sm-card-contant">
      <h2>9K+ Test Token</h2>
      <p>Learn Anything</p>
    </div>
  </div>
  <div class="sm-card">
    <div class="sm-card-img"><img src="images/ICON/Student.png" alt="" /></div>
    <div class="sm-card-contant">
      <h2>2000+ Student</h2>
      <p>Learn Anything</p>
    </div>
  </div>
</section>